*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.keystore
*.jks
development_keystore
production_keystore
keystore.properties
*.log
.navigation
*.hprof
_homework_extract.txt
.kotlin/
*.pptx
google-services.json
!google-services.json.example
